
body {
	font-family: Anonymous Pro;
    position: relative; /*must be relative position for scrollspy to work*/
    margin-top:60px;
}

img{
    padding:10px;
    /*a little CSS to make the images slowly fade in with jQuery*/
    opacity: 0;
    transition: opacity .3s ease-in;
}



