
body {
	font-family: Anonymous Pro;
}

/* center container with CSS */
.grid {
  margin: 0 auto;
}


/*gives some margin in between thumbs. set gutter to 10*/
.grid-item {
  margin-bottom: 10px;
}

.center{
	text-align:center;
	margin-bottom:20px;
}